table.wikibox-preview {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    color: black;
    font-size: 0.77em;
    line-height: 1.5em;
    width: 22em;
    margin: 0 0 0.5em 1em;
    border-collapse: collapse;
}

th.wikibox-preview-header {
    padding: 8px; 
    font-weight: bold;
    text-align: center;
    font-size: 125%;
    padding-top: 6px;
    padding-bottom: 1px;
}

td.wikibox-preview-label {
    width: 37%;
    padding: 8px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 1px;
    padding-bottom: 1px;
}

td.wikibox-preview-value-container {
    width: 65%;
    padding: 8px;
    vertical-align: top;
    white-space: pre-wrap;
    padding-top: 1px;
    padding-bottom: 1px;
}

td.wikibox-preview-value-single-container {
    width: 65%;
    padding: 8px;
    vertical-align: top;
    white-space: pre-wrap;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

td.wikibox-preview-subheader {
    text-align: center;
    font-weight: bold;
    vertical-align: top;
}

div.wikibox-preview-subheader {
    margin: 4px;
    background: lavender;
    white-space: pre-wrap;
    line-height: normal;
    padding-bottom: 3px;
    padding-top: 3px;
}

td.wikibox-preview-image {
    text-align: center;
    padding: 8px;
    vertical-align: top;
    padding-top: 1px;
    padding-bottom: 1px;
}

td.wikibox-preview-caption {
    text-align: center;
    padding: 2px;
    vertical-align: top;
    font-size: '0.9em'
}

td.bottom {
    padding-bottom: 6px;
}

td.middle {
    padding-bottom: 1px;
}

span.linktext {
    color: #36c;
}


.wikibox-preview-treelist {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.wikibox-preview-treelist li {
    position: relative;
    padding-left: 20px;
    margin: 0.5em 0;
    line-height: normal;
}

.wikibox-preview-treelist li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.8em;
    width: 12px;
    height: 1px;
    background: #868686;
}

.wikibox-preview-treelist li::after {
    content: "";
    position: absolute;
    left: 0;
    top: -0.6em;
    bottom: -0.6em;
    width: 1px;
    background: #868686;
}

.wikibox-preview-treelist li:first-child::after {
    top: 0.8em;
}

.wikibox-preview-treelist li:last-child::after {
    bottom: 0.3em;
}
