.collapse-btn, .move-btn, .list-move-btn {
  background: #2196F3;
  color: white;
  border: none;
  cursor: pointer;
}

.collapse-btn:hover, .move-btn:hover, .list-move-btn:hover {
  background: #0176D3;
}

.collapse-btn {
  padding: 4px 8px;
}

.move-btn {
  padding: 2px 6px;
  font-size: 12px
}

.list-move-btn {
  margin-right: 4px; 
  padding: 2px 6px;
}

.remove-btn {
    padding: 2px 6px; 
    background: #ff4444; 
    color: white; 
    border: none;
    cursor: pointer
}

.remove-btn:hover {
    background: #dd2222
}

.wikibox-list-add-btn {
    padding: 4px 8px; 
    background: #4CAF50; 
    color: white; 
    border: none;
    cursor: pointer;
}

.wikibox-list-add-btn:hover {
  background: #2C9F30;
}
